html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #eee;
}

ul {
  list-style-type: none;
}

.timers {
  border: 1px solid #3d3d3d;
  font: 2rem/1.5 Verdana, Geneva, sans-serif;
  padding: 1rem;
}

.timer-name {
  font-weight: bold;
  text-transform: capitalize;
}

.pending {
  animation: blinker 2s linear infinite;
  color: red;
}

@keyframes blinker {
  50% { opacity: 0; }
}

.control {
  border: 1px solid #ddd;
  display: inline-block;
  padding: 1rem;
}

label {
  display: block;
}

input[type="number"] {
  width: 4rem;
}
